
.hero-container {
  display: flex;
  align-items: center; 
  margin-top: 27px;
  width: 100%;
  max-width: 1776px;
  gap: 20px;
  font-size: 45px;
  color: #000000;
  font-weight: 400;
  cursor: pointer;
  position: relative; 
}

.name-container {
  display: flex;
  gap: 20px;
  padding: 50px;
}

.name-container img {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 86px;
}

.name {
  font-family: Jogan Soft, sans-serif;
  flex-grow: 1;
  flex-basis: auto;
  margin: auto 0;
}

.resume {
  font-family: Jogan Soft, sans-serif;
  position: absolute;
  right: 1em;
  top: 50%;
  transform: translateY(-50%); 
}


.description{
  margin-left: 3em;
    width: 40%;
}

.description h2{
  margin-top: -30px;
 font-family: "Inter", sans-serif;
 font-weight: 400;
 color:black;
}


.background-section {
  position: relative;
  width: 100%;
  height: 90vh; 
  background-image: url('../assets/prawnsPortfolio.svg'); 
  /* background-image: url('../assets/Portfolio.svg');  */
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.spline-pranali{
  display: flex;
  width: 100%;
  aspect-ratio: 2984 / 1120;
}

.pranali-pics{
  transition: transform 0.5s ease;
}

.pranali-pics:hover{
  /* transform: scale(-1.95); */
  transform: translate(0px, 10px) scale(2)
}
.logo-img {
  width: 100%;
  max-width: 323px;
  z-index: 1;
}
@media (max-width: 991px) {
  .hero-container {
    flex-direction: column; 
    align-items: center; 
    gap: 10px; 
    font-size: 40px;
  }
  
  .name-container {
    padding: 0; 
    justify-content: center; 
  }

  .name {
    margin: 0;
    align-content: center;
  }

  .resume {
    display: none; 
  }

  .hero-container2 img {
    margin-top: 40px;
  }

  .description {
    width: 80%;
  }

  .spline-pranali {
    aspect-ratio: 326 / 300;
  }

  .background-section{
    background-image:none;
  }

  .description h2{
    margin-top: -60px;
  }
}