
.hero-container {
  display: flex;
  align-items: center; /* Center items vertically */
  margin-top: 27px;
  width: 100%;
  max-width: 1776px;
  gap: 20px;
  font-size: 45px;
  color: #fff;
  font-weight: 400;
  cursor: pointer;
  position: relative; /* To enable absolute positioning of the .resume */
}

.name-container {
  display: flex;
  gap: 20px;
  padding: 50px;
}

.name-container img {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 86px;
}

.name {
  font-family: Jogan Soft, sans-serif;
  flex-grow: 1;
  flex-basis: auto;
  margin: auto 0;
}

.resume {
  font-family: Jogan Soft, sans-serif;
  position: absolute;
  right: 1em; /* Position the resume text to the right */
  top: 50%; /* Vertically center it */
  transform: translateY(-50%); /* Adjust to perfect center */
}


.description{
  margin-left: 3em;
    width: 40%;
}

.description h2{
 font-family: "Inter", sans-serif;
 font-weight: 400;
}


.background-section {
  position: relative;
  width: 100%;
  height: 90vh; 
  background-image: url('../assets/back_portfolio2.svg'); 
  /* background-image: url('../assets/Portfolio.svg');  */
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.spline-pranali{
  display: flex;
  width: 100%;
  aspect-ratio: 2984 / 1120;
}


.logo-img {
  width: 100%;
  max-width: 323px;
  z-index: 1;
}
@media (max-width: 991px) {
  .hero-container {
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center align items horizontally */
    gap: 10px; /* Reduce gap for better layout */
    font-size: 40px;
  }
  
  .name-container {
    padding: 0; /* Remove padding for a cleaner look */
    justify-content: center; /* Center align the name container */
  }

  .name {
    margin: 0; /* Remove margin for a cleaner look */
    align-content: center;
  }

  .resume {
    position: static; /* Remove absolute positioning */
    transform: none; /* Reset transform */
    margin-top: 10px; /* Add margin to separate from the name */
  }

  .hero-container2 img {
    margin-top: 40px;
  }

  .description {
    width: 80%;
  }

  .spline-pranali {
    aspect-ratio: 326 / 300;
  }

  .background-section{
    background-image:none;
  }
}