@font-face {
  font-family: 'Jogan Soft';
  src: url('/public/fonts/JoganSoft-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: 'Jogan Soft', Arial, sans-serif; /* Apply the custom font */
  cursor: url(../src/assets/profile-pic.jpg), auto;
}


#root {
  height: 100%;
}

.App {
  min-height: 100vh; /* Ensures the background covers the entire viewport */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
